<title>Portal de Denúncias BSI</title>
<link rel="stylesheet"
      type="text/css"
      href="../css/bootstrap.min.css">
<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous">
<!-- TODO: Por precaução, devemos trazer o fontawesome para fora da CDN se possível -->
<!--<link href="https://www.fontify.me/wf/e616f23df7318a71e791bef275123744"
      rel="stylesheet"
      type="text/css" />-->
<!-- TODO: O Fontify tem um tempo de resposta de mais de 5 segundos. Isso é inaceitável. Devemos trazê-lo para fora da CDN ou eliminá-lo -->
<link rel="stylesheet"
      type="text/css"
      media="screen"
      href="../css/main.css">
<link rel="stylesheet"
      type="text/css"
      media="screen"
      href="../css/index.css">