<form class="formCadastroUsuario" method="post" action="/usuarios/novoUsuario">
    <div class="formBanner">
        Fazer Cadastro
    </div>
    <div class="labelInputContainer">
        <label class="label-txt" for="emailUsuario">INSIRA SEU EMAIL</label>
        <input type="text" class="input" id="emailUsuario" name="emailUsuario">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </div>
    <div class="labelInputContainer">
        <label class="label-txt" for="nomeUsuario">INSIRA SEU NOME</label>
        <input type="text" class="input" id="nomeUsuario" name="nomeUsuario">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </div>
    <div class="labelInputContainer" data-toggle="tooltip" data-html="true" data-placement="right" title="<small>8 ou mais caracteres<br>
                                                                                         Pelo menos um caractere maiúsculo<br>
                                                                                         Pelo menos um caractere minúsculo<br>
                                                                                         Pelo menos um algarismo</small>">
        <label class="label-txt" for="senhaUsuario">INSIRA SUA SENHA</label>
        <input type="text" class="input" id="senhaUsuario" name="senhaUsuario">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </div>
    <button type="submit">Cadastrar</button>
</form>