<header>
    <div class="container">
        <div class="header-display">
            <h1>meme.io</h1>
            <nav>
                <a class="btn btn-light" href="/">Inicio</a>
                <a class="btn btn-light" href="/usuarios/perfil">Perfil</a>
                <a class="btn btn-light" href="/usuarios/dadospessoais">Dados Pessoais</a>
                <a class="btn btn-success" href="/memes">Repositório de Memes</a>
            </nav>
        </div>
    </div>
</header>