<header>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center" style="height: 60px">
            <nav id="nav1" class="nav">
                <a class="btn btn-memeIO" href="/">Inicio</a>
                <a class="btn btn-memeIO" href="/memes">Repositório de Memes</a>
            </nav>
            <h1>meme.io</h1>
            <nav id="nav2" class="nav">
                <a class="btn btn-memeIO" href="/usuarios/cadastro">Cadastrar</a>
                <a class="btn btn-memeIO" href="/login">Entrar</a>
            </nav>
        </div>
    </div>
</header>