<form class="formCadastroUsuario" method="post" action="/usuarios/novoUsuario">
    <div class="formBanner">
        Fazer Login
    </div>
    <div class="labelInputContainer">
        <label class="label-txt" for="emailUsuario">INSIRA SEU EMAIL</label>
        <input type="text" class="input" id="emailUsuario" name="emailUsuario">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </div>
    <div class="labelInputContainer">
        <label class="label-txt" for="senhaUsuario">INSIRA SUA SENHA</label>
        <input type="password" class="input" id="senhaUsuario" name="senhaUsuario">
        <div class="line-box">
            <div class="line"></div>
        </div>
        <a href="www.google.com"><small>Esqueceu sua senha?</small></a>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Lembrar-me
        </label>
    </div>
    <button class="btn btn-memeIO" type="submit" style="margin-top: 10px;">Enviar</button>
</form>