<footer>
    <div class="container">
        <div class="row footer-content">
            <div class="descricaoAJ col-3">
                <h6 class="font-weight-bold">ALPHA JUNIOR CONSULTORIA</h6>
                <p>
                    Empresa Junior do curso Bacharel em Sistemas de Informação, da
                    <br />
                    Universidade Federal do Estado do Rio de Janeiro
                </p>
            </div>

            <div class="contatosAJ">
                <h6 class="font-weight-bold">CONTATE-NOS</h6>
                <p><i class="fa fa-home mr-3"></i>Avenida Pasteur 458, RJ</p>
                <p><i class="fa fa-envelope mr-3"></i> alphajunior@uniriotec.br</p>
            </div>

            <div>
                <ul class="formatacao-listaContatos">
                    <li>
                        <a href="https://www.facebook.com/alphajuniorconsultoria/" class="btn-sm">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/alphajr_rj/" class="btn-sm">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn-sm"> <i class="fab fa-linkedin"></i> </a>
                    </li>
                </ul>

                <div class="logo">
                    <img src="../images/logotipo-alpha.png" alt="">
                </div>
            </div>


        </div>

        <hr style="background-color: rgb(64, 64, 70);" />

        <div>
            <p class="text-center text-md-left">
                © 2018 Copyright:
                <a href="https://alphajunior.uniriotec.br" target="blank">
                    <strong>Alpha Junior Consultoria</strong>
                </a>
            </p>
        </div>
    </div>
</footer>