<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" id="footerAbout">
                <h4>O meme.io</h4>
                <small>
                    O meme.io é um projeto criado pelos alunos João Vitor Silva de Sousa, João Pedro
                    Gil Brandão e Bárbara Beato Ribeiro, para a disciplina de Projeto e Construção
                    de Sistemas do curso Sistemas de Informação na Universidade Federal do Estado do
                    Rio de Janeiro, durante o período 2019.1
                </small>
            </div>
            <div class="col-sm-4" id="footerContatos">
                <h4>Contate-nos</h4>
                <small>TimeDoMemeIO@uniriotec.br</small>
                <small>(21) XXXX-XXXX</small>
                <a href="https://github.com/JoaoPBrandao/meme.io"><i class="fab fa-github-square fa-2x" style="color: #ffffff;"></i></a>
                <a href="https://facebook.com"><i class="fab fa-facebook-square fa-2x" style="color: #ffffff;"></i></a>
                <a href="https://twitter.com"><i class="fab fa-twitter-square fa-2x" style="color: #ffffff;"></i></a>
                <a href="https://linkedin.com"><i class="fab fa-linkedin fa-2x" style="color: #ffffff;"></i></a>
            </div>
            <div class="col-sm-4" id="footerTecnologias">
                <h4>Feito com <i class="fas fa-heart" style="color: #ffe599;"></i> e </h4>
                <img alt="Ícone do Bootstrap" title="Ícone do Bootstrap" src="../media/bootstrapIcon.png">
                <img alt="Ícone do NodeJS" title="Ícone do NodeJS" src="../media/nodejsIcon.png">
                <img alt="Ícone do MongoDB" title="Ícone do MongoDB" src="../media/mongodbIcon.png">
                <img alt="Ícone do MVC" title="Ícone do MVC" src="../media/mvcIcon.png">
                <img alt="Ícone do Express" title="Ícone do Express" src="../media/expressIcon.png">
            </div>
        </div>
    </div>
</footer>