<!doctype html>
<html>
<head>
    <% include components/projectDefaultHead/projectDefaultHead.ejs %>
    <title>Perfil</title>
</head>
<body>
<% include components/headerUsuario/headerUsuario.ejs %>
<div class="container d-flex justify-content-around flex-wrap containerMemes" style="margin: 10px auto;">
    <% if(usuarioBuscado) { %>
            <div class="card" style="width: 18rem; margin: 10px">
                <img class="card-img-top" src="<%= usuarioBuscado.foto %>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%= usuarioBuscado.nome %></h5>
                    <form method="get" action="/usuarios/perfilUsuario">
                        <input type="hidden" value="<%= usuarioBuscado.email %>" name="usuario">
                        <button type="submit" class="btn btn-memeIO">Acessar perfil</button>
                    </form>
                </div>
            </div>
    <% } else { %>
        <h4 style="margin: auto;">Nenhum usuário encontrado!</h4>
    <% } %>
</div>

<% include components/footer/projectDefaultFooter.ejs %>
<% include components/projectDefaultScripts/projectDefaultScripts.ejs %>
</body>
</html>