<!doctype html>
<html>
<head>
    <% include components/projectDefaultHead/projectDefaultHead %>
    <title>Cadastro</title>
</head>
<body>
    <% include components/headerVisitante/headerVisitante.ejs %>
    <% include components/formCadastroUsuario/formCadastroUsuario.ejs%>

    <% include components/footer/projectDefaultFooter.ejs %>
    <% include components/projectDefaultScripts/projectDefaultScripts.ejs %>
</body>
</html>