<!DOCTYPE html>
<html>
<head>
    <% include components/projectDefaultHead/projectDefaultHead %>
    <title>Dados Pessoais</title>
</head>

<body>
    <% include components/headerAlternative/projectAlternativeHeader.ejs %>


    <% include components/footer/projectDefaultFooter.ejs %>
    <% include components/projectDefaultScripts/projectDefaultScripts %>
</body>
</html>