<!DOCTYPE html>
<html>
<head>
    <% include components/projectDefaultHead/projectDefaultHead %>
</head>

<body>
    <% include components/header/projectDefaultHeader.ejs %>


    <% include components/footer/projectDefaultFooter.ejs %>
    <% include components/projectDefaultScripts/projectDefaultScripts %>
</body>
</html>