<!doctype html>
<html>
<head>
    <% include components/projectDefaultHead/projectDefaultHead %>
    <title>meme.io - Em Construção</title>
</head>
<body>
<% include components/headerVisitante/headerVisitante.ejs%>

<div class="container d-flex flex-column justify-content-center align-items-center" style="margin: 30px auto;">
    <h1>Em Construção! Volte em breve ao meme.io.</h1>
    <img src="https://initiafy-website-images.s3.amazonaws.com/wordpress-upload/2018/01/two_young_construction_workers.jpg"
        style="width:80%;height:auto;">
</div>

<% include components/footer/projectDefaultFooter.ejs %>
<% include components/projectDefaultScripts/projectDefaultScripts.ejs %>
</body>
</html>