<!DOCTYPE html>
<html>
    <head>
        <% include components/projectDefaultHead/projectDefaultHead %>
    </head>
    <body>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6" id="AnunciosCol">
                        <div class="text-center">
                            <h1>meme.io</h1>
                            <h2>Vantagens de se cadastrar!</h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <img src="https://www.bauducco.com.br/wp/wordpress/wp-content/uploads/2017/09/default-placeholder-1-2.png">
                            </div>
                            <div class="col-sm-7">
                                <p>Caros amigos, a competitividade nas transações comerciais nos obriga à análise das condições
                                    financeiras e administrativas exigidas. O empenho em analisar a percepção das dificuldades
                                    maximiza as possibilidades por conta das diretrizes de desenvolvimento para o futuro.
                                    No entanto, não podemos esquecer que a hegemonia do ambiente político exige a precisão
                                    e a definição de alternativas às soluções ortodoxas.
                                </p>
                            </div>


                        </div>

                    </div>
                    <div class="col-sm-3" id="CadastroCol">
                        <div class="div">
                            <h3  class="centerText">Cadastro</h3>
                        </div>
                        <% include components/formCadastroUsuario/formCadastroUsuario.ejs %>
                    </div>
                    <div class="col-sm-3" id="LoginCol">
                        <div class="div">
                            <h3  class="centerText">Login</h3>
                        </div>
                        <% include components/formLoginUsuario/formLoginUsuario.ejs %>
                    </div>
                </div>

            </div>
        </main>
        <% include components/projectDefaultScripts/projectDefaultScripts %>
    </body>
</html>