<!DOCTYPE html>
<html>
    <head>
        <% include components/projectDefaultHead/projectDefaultHead.ejs %>
    </head>
    <body>
    <% include components/headerVisitante/headerVisitante.ejs %>
        <main class="d-md-flex flex-md-row justify-content-md-center flex-sm-column justify-content-sm-start">
            <div class="container d-flex">
                <% include components/formCadastroUsuario/formCadastroUsuario.ejs%>
                <% include components/formLoginUsuario/formLoginUsuario.ejs%>
            </div>
        </main>
        <% include components/footer/projectDefaultFooter.ejs %>
        <% include components/projectDefaultScripts/projectDefaultScripts.ejs %>
    </body>
</html>