<!DOCTYPE html>
<html>
    <head>
        <% include components/projectDefaultHead/projectDefaultHead.ejs %>
    </head>
    <body>
    <% include components/header/projectDefaultHeader.ejs %>
        <main>
            <div class="container">
                <div class="text-center" style="height: 60vh;">
                    <h1 style="color: #000000;">Página Inicial ainda em construção!</h1>
                </div>
            </div>
        </main>
        <% include components/footer/projectDefaultFooter.ejs %>
        <% include components/projectDefaultScripts/projectDefaultScripts.ejs %>
    </body>
</html>