<!doctype html>
<html>
<head>
    <% include components/projectDefaultHead/projectDefaultHead.ejs %>
    <title>Perfil</title>
</head>
<body>
<% include components/headerAlternative/projectAlternativeHeader.ejs %>

<main>
    <div class="container">
        <div id="profileCard" class="border-profile rounded">
            <div class="row">
                <div class="col-sm-2">
                    <img src="https://www.flynz.co.nz/wp-content/uploads/profile-placeholder.png">
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <h1>Nome do usuário</h1>
                    </div>
                    <div class="row">
                        <h3>Outras informações</h3>
                    </div>
                </div>
            </div>
        </div>
        <div id="profilePosts" class="border-profile rounded">
            <h2 style="margin: auto;">Publicações do usuário ainda em construção!!</h2>
        </div>
    </div>
</main>

<% include components/footer/projectDefaultFooter.ejs %>
<% include components/projectDefaultScripts/projectDefaultScripts.ejs %>
</body>
</html>