<!doctype html>
<html>
<head>
    <% include components/projectDefaultHead/projectDefaultHead %>
    <title>meme.io - Recuperar Senha</title>
</head>
<body>
<% include components/headerVisitante/headerVisitante.ejs %>
<div class="container d-flex flex-column justify-content-center align-items-center" style="margin: 30px auto;">
    <form class="formCadastroUsuario" method="post" action="/usuarios/alterarSenha">
        <div class="formBanner">
            Redefinir Senha
        </div>
        <div class="labelInputContainer">
            <label class="label-txt" for="senhaUsuario">INSIRA SUA SENHA</label>
            <input type="password" class="input" id="senhaUsuario" name="senhaUsuario">
            <input type="hidden" id="idUsuario" name="idUsuario" value="<%= usuario.idUsuario %>">
            <input type="hidden" id="nomeUsuario" name="nomeUsuario" value="<%= usuario.nome %>">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </div>
        <button class="btn btn-memeIO" type="submit">Enviar</button>
    </form>
</div>

<% include components/footer/projectDefaultFooter.ejs %>
<% include components/projectDefaultScripts/projectDefaultScripts.ejs %>
</body>
</html>