<header>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center" style="height: 60px;">
            <nav id="nav1" class="nav">
                <a class="btn btn-memeIO" href="/">Inicio</a>
                <a class="btn btn-memeIO" href="/memes">Memes</a>
                <a class="btn btn-memeIO" href="/trending"><i class="fab fa-hotjar"></i> Trending</a>
            </nav>
            <form class="input-group md-form form-sm form-2 pl-0" style="width: 40%;" action="/usuarios/buscarUsuarios" method="get">
                <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Pesquisar" aria-label="Pesquisar" name="emailUsuario">
                <div class="input-group-append">
                    <button class="btn rounded" type="submit" style="cursor:pointer;">
                            <i class="fas fa-search text-grey" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
            <nav id="nav2" class="nav">
                <form  style="display:inline-block;" method="get" action="/usuarios/perfilUsuario">
                    <input type="hidden" value="<%= usuario.email %>" name="usuario">
                    <button type="submit" class="btn btn-memeIO">Perfil</button>
                </form>
                <a class="btn btn-memeIO" href="/usuarios/configuracoes"><i class="fas fa-user-cog"></i></a>
                <a class="btn btn-memeIO" href="/usuarios/logout"><i class="fas fa-sign-out-alt"></i></a>
            </nav>
        </div>
    </div>
</header>